bleak==0.22.3
buildozer==1.5.0
certifi==2024.12.14
charset-normalizer==3.4.1
colorama==0.4.6
distlib==0.3.9
docutils==0.21.2
filelock==3.16.1
filetype==1.2.0
idna==3.10
Kivy==2.3.1
kivy-deps.angle==0.4.0
kivy-deps.glew==0.3.1
Kivy-Garden==0.1.5
kivy_deps.sdl2==0.8.0
loguru==0.7.3
pexpect==4.9.0
platformdirs==4.3.6
psycopg2==2.9.10
ptyprocess==0.7.0
Pygments==2.19.1
pypiwin32==223
pywin32==308
requests==2.32.3
sh==2.2.1
urllib3==2.3.0
virtualenv==20.28.1
win32_setctime==1.2.0
winrt-runtime==2.3.0
winrt-Windows.Devices.Bluetooth==2.3.0
winrt-Windows.Devices.Bluetooth.Advertisement==2.3.0
winrt-Windows.Devices.Bluetooth.GenericAttributeProfile==2.3.0
winrt-Windows.Devices.Enumeration==2.3.0
winrt-Windows.Foundation==2.3.0
winrt-Windows.Foundation.Collections==2.3.0
winrt-Windows.Storage.Streams==2.3.0
